<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
        <script th:src="@{/js/uiUtils.js}"></script>
    </th:block>
</head>
<body>
    <th:block id="content">

        <div id="toolbar" class="d-flex">
            <a class="btn btn-secondary" href="/employees" title="Go back to Employees">
                <i class="bi bi-box-arrow-in-left"></i>
            </a>
            <div class="vr mx-2"></div>
            <a class="btn btn-primary" th:href="@{/employees/positions/add}" title="Open new job position form">
                <i class="bi bi-plus-lg"></i>
                <span class="d-none d-sm-inline">Add Job Position</span>
            </a>
        </div>
        <table
                id="positionsTable"
                data-toggle="table"
                data-search="true"
                data-pagination="true"
                data-show-columns="true"
                data-show-toggle="true"
                data-toolbar="#toolbar"
                th:data-buttons="${showAll} ? 'tableFilterShowActive' : 'tableFilterShowAll'"
                class="table-striped">
            <thead>
            <tr>
                <th data-halign="center" data-sortable="true">Position</th>
                <th data-halign="center" data-sortable="true" data-align="right">Number of employees</th>
                <th data-halign="center" data-align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="position: ${positions}" th:Object="${position}" th:class="*{active} ? null : 'inactive'">
                <td th:text="*{name}"></td>
                <td th:text="*{employees.size()}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/employees/positions/update/{id}(id=*{id})}" title="Update/View"><i class="bi-pen"></i></a>
                    <a class="btn btn-sm btn-danger"  title="Delete" th:href="|javascript:openDeleteDialog('*{name}', '/employees/positions', *{id});|"><i class="bi-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</body>
</html>