<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div id="formContent">
        <div>
            <img src="/img/logo.svg" class="img-fluid p-3 app-logo" alt="Application Logo" />
        </div>
        <form class="loginForm" method="post" th:action="@{/sign-in/resetPassword/{token} (token=${token})}" th:object="${resetPasswordDTO}">
            <input type="hidden" name="token" th:field="${token}" />
            <input th:field="*{password}" type="password" id="password" class="fadeIn third" name="password" placeholder="New Password" required>
            <input th:field="*{verifyPassword}" type="password" id="verifyPassword" class="fadeIn third" name="verifyPassword" placeholder="Confirm Password" required>
            <input type="submit" class="fadeIn third">
            <div th:if="${errorMessage}" id="formFooter">
                <span class="text-danger" th:text="${errorMessage}"></span>
            </div>
        </form>
    </div>
</div>
</body>