<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Pet Management System</title>
   <th:block id="otherResources">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css"/>
      <script th:src="@{/js/petScript.js}"></script>
      <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
      <script src="/js/uiUtils.js"></script>
   </th:block>
</head>
<body>

<th:block id="content">
<div class="d-flex">

      <main class="col-md-12 col-lg-10 col-xl-8  col-xxl-6">

         <div>
            <h1>Update Pet</h1>
            <hr>

            <form action="#" th:action="@{/savePet}" th:object="${pet}" method="POST" enctype="multipart/form-data">
               <!-- Add hidden form field to handle update -->
               <input type="hidden" th:field="*{id}" />
               <label class="form-label">Name</label>
               <input type="text" th:field="*{petName}" class="form-control mb-4 col-4">

               <input type="hidden" th:field="*{owner}" class="form-control mb-4 col-4">  <!--- Hidden because pet owners shouldn't change" --->
               <label class="form-label">Breed</label>
               <select name="dogDropdown" id="dogDropList" th:field="*{breed}"
                       class="form-control mb-4 col-4"></select>
               <label class="form-label">Notes</label>
               <input type="text" th:field="*{notes}" class="form-control mb-4 col-4">
               <div class="col" th:if="*{id}">
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" role="switch" id="active" th:field="*{active}">
                     <label class="form-check-label" for="active">Active</label>
                  </div>
               </div>
               <br>
               <div class="col-12 mb-3">
                  <label for="photo" class="form-label">Photo</label>
                  <input type="file" name="image" value="image" class="form-control" id="photo" onchange="displayPhotoPreview(event.target, 'photoPreview')" accept="image/png, image/jpeg">
               </div>
               <div class="col-md-6 d-flex justify-content-center align-content-center">
                  <input type="hidden" th:field="*{photo}">
                  <img id="photoPreview" alt="Photo preview" th:src="*{getPhotoPath()}" class="preview-photo img-thumbnail" th:style="*{photo} ? '' : 'display: none;'">
               </div>
               <button type="submit" class="btn btn-info">Update Pet</button>
            </form>
                <hr>
            <a th:href="@{/pets}">Back to Pet List</a>
         </div>
      </main>
   </div>

   </th:block>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>

</body>
</html>