<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="/css/stay.css">
        <style>
            .paidText {
               animation: animatePaidText 3s linear infinite;
             }

             @keyframes animatePaidText{
               0%{
                 opacity: 0;
               }
               50%{
                 opacity: 1.5;
               }
               100%{
                 opacity: 0;
               }
             }
        </style>
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
        <script src="/js/uiUtils.js"></script>
        <script src="/js/invoices.js"></script>
        <script th:inline="javascript" >
            $(function() {
             servicesMap = [[${mapInvoiceDetails}]];
             currentIndex = Object.keys(servicesMap).length;

             ammounts.subTotal= [[${invoice.getSubTotal()}]];
             ammounts.total= [[${invoice.getTotal()}]];
             ammounts.discountPercent= [[${invoice.discountPercent}]];
             ammounts.taxPercent= [[${invoice.taxPercent}]];
            });
        </script>
    </th:block>
</head>
<body>
<div id="content" class="col-md-12 col-lg-10 col-xl-8  col-xxl-6" th:with="isPaid=${!invoice.payments.isEmpty()}">
    <div class="d-flex align-items-center col-12 border-bottom pb-2 mb-3">
        <a class="btn btn-secondary" href="/invoices" title="Go back to Invoices">
            <i class="bi bi-box-arrow-in-left"></i>
        </a>
        <span th:text="${formTitle}" class="fw-semibold px-2">New/Update Invoice</span>
        <div th:if="${invoice.id}" class="form-toolbar d-flex ms-auto">
            <a class="btn btn-primary ms-auto" title="Make a payment"
               th:href="@{/invoices/{id}/pay (id=${invoice.id})}"
               th:classappend="${isPaid} ? 'disabled' : null" >
                <i class="bi bi-cash-coin"></i>
                <span class="d-none d-sm-inline">Pay</span>
            </a>
            <div class="vr mx-2"></div>
            <a class="btn btn-danger" title="Cancel this invoice"
               th:href="|javascript:openCancelDialog('${invoice.getFullNumber()}','/invoices', ${invoice.id});|"
               th:classappend="${isPaid} ? 'disabled' : null" >
                <i class="bi-x-circle"></i>
                <span class="d-none d-sm-inline">Cancel</span>
            </a>
        </div>
    </div>
    <form id="mainForm" class="row g-3 " th:Object="${invoice}" method="POST" th:action="@{${submitURL}}">
        <input type="hidden" id="id" th:field="*{id}">
        <!--v Stay v-->
        <th:block th:if="*{stay}">
            <input type="hidden" id="stayId" th:field="*{stay}">
            <div class="row bg-light shadow-sm mx-0 mt-1 py-1">
                <label for="confirmationCode" class="col-sm-2 col-form-label">Confirmation #</label>
                <div class="col-sm-10">
                    <a class="link-primary form-control-plaintext fw-bold text-lg" id="confirmationCode"
                       th:text="*{stay.reservation.confirmation}"
                       th:href="@{/stays/update/{id} (id=*{stay.id})}" tabindex="-1"></a>
                </div>
                <label for="stayService" class="col-sm-2 col-form-label">Service</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="stayService" th:value="*{stay.reservation.service.name}" readonly tabindex="-1">
                </div>
                <label for="checkInDate" class="col-sm-2 col-form-label">Check-in</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control-plaintext" id="checkInDate" th:value="*{#dates.format(stay.checkInTime, 'MM/dd/yyyy HH:mm:ss')}" readonly tabindex="-1">
                </div>
                <label for="checkOutDate" class="col-sm-2 col-form-label">Check-out</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control-plaintext" id="checkOutDate" th:value="*{#dates.format(stay.checkOutTime, 'MM/dd/yyyy HH:mm:ss')}" readonly tabindex="-1">
                </div>
            </div>
            <!--^ Stay ^-->
            <hr class="my-1"/>
        </th:block>
        <div class="col-12 hstack">
            <div class="col-sm-auto">
                <label for="date" class="form-label">Date</label>
                <input id="date" type="text" class="form-control text-center" th:value="*{#dates.format(date, 'MM/dd/yyyy')}" readonly tabindex="-1">
            </div>
            <div class="col-sm-auto ms-auto">
                <label for="number" class="form-label">Number</label>
                <input id="number" type="text" class="form-control bg-primary bg-opacity-10 text-center fw-semibold" th:value="*{getFullNumber()}" readonly tabindex="-1">
            </div>
        </div>
        <div class="col-12">
            <label for="billTo" class="form-label">Bill to</label>
            <div class="input-group has-validation">
                <select id="billTo" class="form-select" th:field="*{owner}" tabindex="1" autofocus onclick="updateContactInformation($(this))"
                        th:disabled="${isPaid}" th:classappend="${isPaid} ? 'bg-light' : null">
                    <option selected value="" data-contact="">Select one...</option>
                    <option th:each="owner: ${owners}"
                            th:value="${owner.id}"
                            th:text="${owner.getFullName()}"
                            th:data-contact="${owner.getContactInformation()}">
                    </option>
                </select>
                <div id="validationServerOwnerFeedback" class="invalid-feedback" th:errors="*{owner}"></div>
            </div>
        </div>
        <div class="col-12">
            <label for="contact" class="form-label">Contact</label>
            <div id="contact" class="bg-secondary bg-opacity-10 p-2 rounded"
                 style="min-height: 4em;"
                 th:utext="*{owner != null ? owner.getContactInformation()  : ''}">
            </div>
        </div>
        <div class="col-12 text-center fw-semibold mt-1 p-2 mb-0 bg-primary bg-opacity-10 hstack" th:if="${isPaid}">
            <i class="col fs-1" th:classappend="${payment.cashPayment} ? 'bi-cash-coin' : 'bi-credit-card'"></i>
            <span class="col" th:text="${#dates.format(payment.datetime, 'MM/dd/yyyy HH:mm:ss')}"></span>
            <span class="col" th:text="${#numbers.formatCurrency(payment.amount)}"></span>
            <span class="col bi bi-check-lg fs-1 d-flex align-items-center">
                <span class="text-center fw-bold fs-4 paidText">PAID</span>
            </span>
        </div>
        <div class="col-12 d-grid" th:classappend="${isPaid} ? 'mt-0' : null">
            <button id="btnAddService" class="btn btn-outline-primary" type="button"
                    onclick="addAdditionalService()"
                    th:if="${!isPaid}">
                <span >Add Service</span>
                <i class="bi-plus-lg"></i>
            </button>
            <div id="additionalServicesContainer" th:class="*{details.size() == 0} ? collapse : null">
                <table
                    id="additionalServicesTable"
                    data-toggle="table">
                    <thead>
                    <tr>
                        <th data-halign="center">Qty</th>
                        <th data-halign="center">Service</th>
                        <th data-halign="center">Unit price</th>
                        <th data-halign="center">Description</th>
                        <th data-halign="center">Subtotal</th>
                        <th th:if="${!isPaid}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service, stat: *{details}">
                        <td class="text-center" data-field="_quantity" th:text="${service.quantity}"></td>
                        <td data-field="_serviceText" th:text="${service.service.name}"></td>
                        <td data-field="_pricePerUnit" class="px-2 text-end" th:text="${service.pricePerUnit}"></td>
                        <td data-field="_description" th:text="${service.description}"></td>
                        <td data-field="_subTotal" class="fw-semibold px-2 text-end" th:text="${#numbers.formatCurrency(service.getSubTotal())}"></td>
                        <td class="text-center" th:if="${!isPaid}">
                            <button type="button" class="btn btn-sm btn-outline-primary" title="Update/View" th:onclick="|openAdditionalServicesDialog(${service.id}, ${stat.index})|"><i class="bi-pen"></i></button>
                            <button type="button" class="btn btn-sm btn-outline-danger"  title="Remove" th:onclick="|openConfirmRemoveDialog(${service.id}, ${stat.index})|"><i class="bi-dash-lg"></i></button>
                            <input data-field="_id" type="hidden" th:field="*{details[__${stat.index}__].id}">
                            <input data-field="_serviceId" type="hidden" th:field="*{details[__${stat.index}__].service}">
                            <input data-field="_quantity" type="hidden" th:field="*{details[__${stat.index}__].quantity}">
                            <input data-field="_pricePerUnit" type="hidden" th:field="*{details[__${stat.index}__].pricePerUnit}">
                            <input data-field="_description" type="hidden" th:field="*{details[__${stat.index}__].description}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 vstack text-end">
            <div class="col-12 col-sm-8 col-lg-6 row ms-auto">
                <label for="subTotal" class="col-form-label col-sm-4">SubTotal</label>
                <div class="col-sm-8">
                        <input type="text" id="subTotal" class="form-control text-end bg-light"
                                th:value="*{#numbers.formatCurrency(getSubTotal())}" disabled tabindex="-1">
                </div>
                <label for="discountTotal" class="col-form-label col-sm-4">Discount</label>
                <div class="col-sm-8 hstack">
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="number" id="discountPercent" class="form-control text-end px-1"
                                   th:disabled="${isPaid}" th:classappend="${isPaid} ? 'bg-light' : null"
                                   th:field="*{discountPercent}" step="0.01" max="100" min="0" onchange="updateDiscountTotal()">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                    <input type="text" id="discountTotal" class="form-control text-end bg-light"
                            th:value="*{#numbers.formatCurrency(getDiscountTotal())}" disabled>
                </div>
                <label for="taxTotal" class="col-form-label col-sm-4">Sale Taxes</label>
                <div class="col-sm-8 hstack">
                    <div class="col-sm-5">
                        <input type="hidden" th:field="*{taxPercent}">
                        <div class="input-group">
                            <input type="text" id="taxPercent" class="form-control text-end px-1 bg-light"
                                   th:value="*{taxPercent}" step="0.01" max="100" min="0" onchange="updateTaxTotal()" disabled>
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                    <input type="text" id="taxTotal" class="form-control text-end bg-light"
                       th:value="*{#numbers.formatCurrency(getTaxTotal())}" disabled>
                </div>
                <label for="total" class="col-form-label col-sm-4 fw-semibold">Total</label>
                <div class="col-sm-8">
                    <input type="text" id="total" class="form-control text-end fw-semibold bg-light"
                       th:value="*{#numbers.formatCurrency(getTotal())}" disabled tabindex="-1">
                </div>
            </div>
        </div>
        <div class="col-3">
            <label for="status" class="form-label">Status</label>
            <div class="input-group has-validation">
                <select id="status" th:field="*{status}" class="form-select" th:errorclass="is-invalid"
                        th:disabled="${isPaid}" th:classappend="${isPaid} ? 'bg-light' : null" required>
                    <option th:each="status: ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}">
                    </option>
                </select>
                <div id="validationServerStatusFeedback" class="invalid-feedback" th:errors="*{status}"></div>
            </div>
        </div>
        <div class="col-12" th:if="*{id}">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="active"
                       th:disabled="${isPaid}"  th:field="*{active}">
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
        <div class="col-12 hstack gap-2">
            <button class="me-auto btn btn-secondary o-1" title="Clear form" type="reset" th:if="*{id == null}">
                <i class="bi bi-eraser"></i>
            </button>
            <a type="button" class="btn btn-secondary mx-1 ms-auto" href="/invoices" title="Cancel and go back">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary mx-1" title="Save changes"
                    th:classappend="${isPaid} ? 'disabled' : null">
                <i class="bi bi-save"></i>
                Save
            </button>
        </div>
    </form>
    <div id="addServiceDialog" class="modal" tab-index="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addServiceForm" class="row g-2">
                        <input type="hidden" id="addId" name="id" class="add-input">
                        <div class="col-12 row mb-1">
                            <label for="addQuantity" class="col-sm-3 col-form-label">Quantity</label>
                            <div class="col-sm-3">
                                <input type="number" id="addQuantity" name="quantity" class="form-control text-end px-2 add-input" onchange="updateServiceSubtotal()" required min="0.1" step="0.1">
                            </div>
                        </div>
                        <div class="col-12 row mb-1">
                            <label for="addService" class="col-sm-3 col-form-label">Service</label>
                            <div class="col-sm-9">
                                <select id="addService" name="serviceId" class="form-select add-input" required onchange="updateUnitPrice(this)">
                                    <option value="" data-pricePerUnit="">Select a service...</option>
                                    <option th:each="service: ${services}"
                                            th:value="${service.id}"
                                            th:text="${service.name}"
                                            th:data-pricePerUnit="${service.pricePerUnit}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 row mb-1">
                            <label for="addPricePerUnit" class="col-sm-3 col-form-label">Unit Price</label>
                            <div class="col-sm-5">
                                <input type="number" id="addPricePerUnit" name="pricePerUnit" class="form-control text-end px-2 add-input" onchange="updateServiceSubtotal()" min="0.01" step="0.01">
                            </div>
                        </div>
                        <div class="col-12 row mb-1">
                            <label for="addDescription" class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" id="addDescription" name="description" class="form-control add-input">
                            </div>
                        </div>
                        <div class="col-12 row">
                            <label for="addSubTotal" class="col-sm-3 col-form-label">SubTotal</label>
                            <div class="col-sm-5">
                                <input type="text" id="addSubTotal" name="subTotal" class="fw-semibold form-control-plaintext text-end px-2" value="0.00">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="btnSaveAdditionalService" type="button" class="btn btn-primary">
                        Add service
                        <i class="bi-plus-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirmRemoveDialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Do you wish to remove the service?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="btnRemoveService" type="button" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <template id="newAdditionalServiceRow">
        <tr data-index="">
            <td data-field="_quantity" class="text-center"></td>
            <td data-field="_serviceText"></td>
            <td data-field="_pricePerUnit" class="px-2 text-end"></td>
            <td data-field="_description"></td>
            <td data-field="_subTotal" class="fw-semibold px-2 text-end"></td>
            <td class="text-center">
                <button id="_btnEdit" type="button" class="btn btn-sm btn-outline-primary" title="Update/View"><i class="bi-pen"></i></button>
                <button id="_btnRemove" type="button" class="btn btn-sm btn-outline-danger" title="Remove"><i class="bi-dash-lg"></i></button>
                <input data-field="_id" type="hidden" id="details__index__.id" name="details[__index__].id" value="">
                <input data-field="_serviceId" type="hidden" id="details__index__.service" name="details[__index__].service" value="">
                <input data-field="_quantity" type="hidden" id="details__index__.quantity" name="details[__index__].quantity" value="">
                <input data-field="_pricePerUnit" type="hidden" id="details__index__.pricePerUnit" name="details[__index__].pricePerUnit" value="">
                <input data-field="_description" type="hidden" id="details__index__.description" name="details[__index__].description" value="">
            </td>
        </tr>
    </template>
</div>
</body>
</html>
