@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* do not use variables in this style*/
div.purple {
  background-color:  #464386;
}

body.purple {
  --base-color: #464386;
  --lb-btn-border-color: #382a75;
  --lb-btn-active-bg: #312e69;
  --lb-btn-active-border-color: #251958;
  --bs-blue: var(--base-color);
  --bs-body-font-family: 'Roboto', sans-serif;
}

 body.purple * .active-module > .paw-icon,
 body.purple * .nav-link:hover  .paw-icon {
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.625 18.1625C23.1753 17.9156 22.779 17.5818 22.4593 17.1805C22.1396 16.7793 21.9027 16.3185 21.7625 15.825C21.4004 14.5767 20.6428 13.4797 19.6036 12.6991C18.5644 11.9185 17.2998 11.4964 16 11.4964C14.7002 11.4964 13.4356 11.9185 12.3964 12.6991C11.3572 13.4797 10.5996 14.5767 10.2375 15.825C10.0973 16.3185 9.8604 16.7793 9.54068 17.1805C9.22096 17.5818 8.82474 17.9156 8.375 18.1625C7.29802 18.7451 6.44625 19.6705 5.95467 20.7919C5.46308 21.9134 5.35979 23.1669 5.66115 24.3537C5.96252 25.5405 6.65131 26.5928 7.61839 27.3438C8.58547 28.0949 9.77553 28.5018 11 28.5C11.7333 28.4981 12.4592 28.3537 13.1375 28.075C14.0446 27.6975 15.0175 27.5031 16 27.5031C16.9825 27.5031 17.9554 27.6975 18.8625 28.075C19.5408 28.3537 20.2667 28.4981 21 28.5C22.2245 28.5018 23.4145 28.0949 24.3816 27.3438C25.3487 26.5928 26.0375 25.5405 26.3388 24.3537C26.6402 23.1669 26.5369 21.9134 26.0453 20.7919C25.5538 19.6705 24.702 18.7451 23.625 18.1625ZM21 25.5C20.6646 25.5026 20.3323 25.4344 20.025 25.3H20.0125C18.7407 24.7719 17.3771 24.5 16 24.5C14.6229 24.5 13.2593 24.7719 11.9875 25.3H11.975C11.6677 25.4344 11.3354 25.5026 11 25.5C10.4435 25.5 9.90295 25.3144 9.4639 24.9725C9.02485 24.6306 8.71242 24.1519 8.5761 23.6124C8.43979 23.0729 8.48738 22.5033 8.71133 21.9939C8.93528 21.4845 9.3228 21.0643 9.8125 20.8H9.825C11.4268 19.9151 12.6133 18.432 13.125 16.675C13.3019 16.0488 13.6784 15.4974 14.1974 15.1047C14.7163 14.7121 15.3493 14.4996 16 14.4996C16.6507 14.4996 17.2837 14.7121 17.8026 15.1047C18.3216 15.4974 18.6981 16.0488 18.875 16.675C19.3867 18.432 20.5732 19.9151 22.175 20.8H22.1875C22.6772 21.0643 23.0647 21.4845 23.2887 21.9939C23.5126 22.5033 23.5602 23.0729 23.4239 23.6124C23.2876 24.1519 22.9752 24.6306 22.5361 24.9725C22.0971 25.3144 21.5565 25.5 21 25.5ZM29 13C29 13.5933 28.8241 14.1734 28.4944 14.6667C28.1648 15.1601 27.6962 15.5446 27.1481 15.7716C26.5999 15.9987 25.9967 16.0581 25.4147 15.9424C24.8328 15.8266 24.2982 15.5409 23.8787 15.1213C23.4591 14.7018 23.1734 14.1672 23.0576 13.5853C22.9419 13.0033 23.0013 12.4001 23.2284 11.852C23.4554 11.3038 23.8399 10.8352 24.3333 10.5056C24.8266 10.1759 25.4067 10 26 10C26.3944 9.99835 26.7853 10.0748 27.15 10.225C27.5147 10.3752 27.8461 10.5961 28.125 10.875C28.4039 11.1539 28.6248 11.4853 28.775 11.85C28.9252 12.2147 29.0017 12.6056 29 13ZM6 16C5.40666 16 4.82664 15.8241 4.33329 15.4944C3.83994 15.1648 3.45543 14.6962 3.22836 14.1481C3.0013 13.5999 2.94189 12.9967 3.05765 12.4147C3.1734 11.8328 3.45912 11.2982 3.87868 10.8787C4.29824 10.4591 4.83279 10.1734 5.41473 10.0576C5.99667 9.94189 6.59987 10.0013 7.14805 10.2284C7.69623 10.4554 8.16477 10.8399 8.49441 11.3333C8.82405 11.8266 9 12.4067 9 13C9.00166 13.3944 8.92519 13.7853 8.77501 14.15C8.62483 14.5147 8.40391 14.8461 8.12501 15.125C7.8461 15.4039 7.51473 15.6248 7.15001 15.775C6.78528 15.9252 6.39443 16.0017 6 16ZM9 7C9 6.40666 9.17595 5.82664 9.50559 5.33329C9.83524 4.83994 10.3038 4.45543 10.852 4.22836C11.4001 4.0013 12.0033 3.94189 12.5853 4.05765C13.1672 4.1734 13.7018 4.45912 14.1213 4.87868C14.5409 5.29824 14.8266 5.83279 14.9424 6.41473C15.0581 6.99667 14.9987 7.59987 14.7716 8.14805C14.5446 8.69623 14.1601 9.16477 13.6667 9.49441C13.1734 9.82405 12.5933 10 12 10C11.6056 10.0017 11.2147 9.92519 10.85 9.77501C10.4853 9.62483 10.1539 9.40391 9.87499 9.12501C9.59609 8.8461 9.37517 8.51473 9.22499 8.15001C9.07482 7.78528 8.99835 7.39443 9 7ZM17 7C17 6.40666 17.1759 5.82664 17.5056 5.33329C17.8352 4.83994 18.3038 4.45543 18.852 4.22836C19.4001 4.0013 20.0033 3.94189 20.5853 4.05765C21.1672 4.1734 21.7018 4.45912 22.1213 4.87868C22.5409 5.29824 22.8266 5.83279 22.9424 6.41473C23.0581 6.99667 22.9987 7.59987 22.7716 8.14805C22.5446 8.69623 22.1601 9.16477 21.6667 9.49441C21.1734 9.82405 20.5933 10 20 10C19.6056 10.0017 19.2147 9.92519 18.85 9.77501C18.4853 9.62483 18.1539 9.40391 17.875 9.12501C17.5961 8.8461 17.3752 8.51473 17.225 8.15001C17.0748 7.78528 16.9983 7.39443 17 7Z' fill='%23464386' /%3E%3C/svg%3E");
 }


body.purple * .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--base-color) !important;  
  --bs-btn-border-color: var(--lb-btn-border-color) !important;  
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--lb-btn-active-bg) !important;
  --bs-btn-hover-border-color: var(--lb-btn-active-bg) !important;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--lb-btn-active-bg) !important;
  --bs-btn-active-border-color: var(--lb-btn-active-border-color) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--base-color) !important;  
  --bs-btn-disabled-border-color: var(--lb-btn-border-color) !important;  
}

body.purple * .pagination {  
  --bs-pagination-active-bg: var(--base-color) !important; 
  --bs-pagination-active-border-color: var(--lb-btn-border-color) !important; 
}

body.purple * .link-primary {
  color: var(--base-color) !important;
}

body.purple * .selectedTheme {
  background-color:var(--base-color);
}