div.darkGreen {
  background-color:  #378937;
}

div.purple {
  background-color:  #464386;
}

div.lightBlue {
  background-color:  #6596e5;
}

div.betterPurple {
  background-color:  purple;
}

div.monochrome {
  background-color:  darkgray;
}

div.orange {
  background-color:  orange;
}
